
.avatar {
  margin:0px;

  position:absolute;
  z-index:100;


  /*
    linear
    ease
    ease-in
    ease-out
    ease-in-out
  */
  /*transition-timing-function: ease;*/
  transition-property: margin;
 /*transition-duration: 2s; set in template */
}

.is-selected {
  position: absolute;
  /*background-color:rgba(200, 200, 100, 0.4);*/
  border-radius:50%;
  border-width: 2px;
  border-style: dashed;
}

.fx {
  position:absolute;
  border-radius: 50%;
  top:-1px;
  left:-4px;
}
